/* #navbar{height: 50px;
    width: 100%;
    background-color: #2e3192;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin:auto ;
   border: 1px solid black;
}
#navbar>div{
  color: white;
} */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background-color: #2e3192;
    height: 80px;
    width: 100%;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 20px;
  }
  a:hover{
    background-color:white ;
  
  }