*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #2e3192;
    height: 90px;
    display:flex ;
    justify-content: center;
    align-items: center;
  padding: 4px 15px 4px 10px;
}
.searchbox{
    display: flex;
    align-items: center;
}
div .box{
  display: flex;
  align-items: center;
  gap: 1px;
}

nav img{
  width: 170px;
 margin: auto;

}
a{
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
    
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 15px;
  }
  .rightbox a:hover{
    background-color:rgb(12, 19, 234) ;
  }
.search:hover{
    color: green;
}
nav input{
  width: 400px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
}
nav button{
padding: 10px 10px;
font-size: 17px;
border: none;
color: #2f3292;
cursor: pointer;
}
nav .rightbox:hover{
  color: black;

}
nav .search{
  padding: 10px 17px;
  margin: -2px;
  background-color: #00a699;
  width: 110px;
  color: white;
  margin-left: 0px;
}
nav>.center{
  margin-right: 0px;
}
nav .center{
  margin-right: 70px;
}
nav .all{
  color: black;
  font-weight: bold;
}
.dropdown{
list-style-type: none;
display: none;}

nav>.rightbox li:nth-child(1):hover .dropdown{
  display: block;
}
